body.style {
    margin: auto;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    position: fixed;
    text-align: right;
    overflow: hidden;
    

}

.cuadrado {
    bottom: 0;
    top: 10px;
    left: 80px;
    width: 200px;
    height: 200px;
    background: #00D8FF;
    position: relative;
    border: 2px solid black;
    left: 200px;
    z-index: 800;
}

.cuadrado1 {    
    top: 140px;
    left: 60px;
    width: 200px;
    height: 200px;
    background: #25FE01;
    border: 2px solid black;
    position: absolute;
    z-index: 500;
}

.cuadrado2 {
    top: -70px;
    left: 330px;
    width: 200px;
    height: 200px;
    background: #F7FE00;
    border: 2px solid black;
    position: relative;    
    z-index: 800;
}

.cuadrado3 {
    top: 270px;
    left: 200px;   
    width: 200px;
    height: 200px;
    background: #FE69F9;
    border: 2px solid black;
    position: absolute;
    z-index: 800;   
    
    

}

.style {
    margin: 0px;
    background: #0e0e0e;
    height: 100%;
}

body{
    display: block;
}

